<span  *ngIf="h===false Then hd1 else hd2"></span>
<ng-template #hd1>
  <button #buttonThem nz-button nzType="primary" (click)="formBranch()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Tạo chi nhánh
  </button>
  <nz-table #tableList style="margin-top: 10px" #basicTable [nzData]="data">
    <thead>
      <tr>
        <th>Mã số thuế</th>
        <th>Tên miền</th>
        <th>Tên chi nhánh</th>
        <th>Địa chỉ</th>
        <th>Trạng thái</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.MST}}</td>
        <td>{{data.tenmien}}</td>
        <td>{{data.tenchinhanh}}</td>
        <td>{{data.diachi}}</td>
        <td>{{data.trangthai}}</td>
        <td>
          <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close" nzTheme="outline"
              title="Xóa" (click)="removeBranch(data.MST)"></i></a>
          &emsp;
          <a><i style="font-size: 20px;" nz-icon nzType="edit" nzTheme="outline" title="Sửa"
            (click)="editBranch(data.MST)"></i></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-template>
<ng-template #hd2>
  <app-branch-form [item]="test">
  </app-branch-form>
</ng-template>
<!-- (newItemEvent)="addItem($event)" -->