<span *ngIf="flag=== true" style="font-size: 27px;">Thêm mới quyền tài khoản</span>
<span *ngIf="flag=== false" style="font-size: 27px;">Sửa quyền tài khoản</span>
<br><br>
<div style="border: 1px solid rgb(83, 83, 202); position: relative;">
  <div style="position: absolute; height: 30px; width: 100%; left: 0px; top: 0px; background: rgb(83, 83, 202);">
    <span style="font-size: 18px; color: white;">
      Thông tin quyền
    </span>
  </div>
  <div nz-row style="margin-left: 50px; margin-top: 80px">
    <div nz-col nzSpan="2"><span style="font-weight: bold; font-size: 18px;">Tên:</span></div>
    <div nz-col nzSpan="22">
      <span><input nz-input placeholder="Nhập tên quyền" [(ngModel)]="dataPermission.Name" /></span>
    </div>
  </div><br>
  <label style="font-weight: bold; font-style: italic; font-size: 18px;" nz-checkbox
    [(ngModel)]="dataPermission.quyenqltaikhoan">Quản lý tài khoản</label><br>
  <div style="display:flex; margin-left: 50px">
    <label nzDisabled style="font-size: 14px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqltaikhoan">Thêm tài khoản</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqltaikhoan">Sửa tài khoản</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqltaikhoan">Xóa tài khoản</label>
  </div><br><br>

  <label style="font-weight: bold; font-style: italic; font-size: 18px;" nz-checkbox
    [(ngModel)]="dataPermission.quyenqlquyen">Quản lý quyền</label><br>
  <div style="display:flex; margin-left: 50px">
    <label nzDisabled style="font-size: 14px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlquyen">Thêm mới quyền</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlquyen">Sửa quyền</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlquyen">Xóa quyền</label>
  </div><br><br>

  <label style="font-weight: bold; font-style: italic; font-size: 18px;" nz-checkbox
    [(ngModel)]="dataPermission.quyenqlchinhanh">Quản lý chi nhánh</label><br>
  <div style="display:flex; margin-left: 50px">
    <label nzDisabled style="font-size: 14px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlchinhanh">Thêm mới chi nhánh</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlchinhanh">Sửa chi nhánh</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlchinhanh">Xóa chi nhánh</label>
  </div><br><br>

  <label style="font-weight: bold; font-style: italic; font-size: 18px;" nz-checkbox
    [(ngModel)]="dataPermission.quyenqlkhachhang">Quản lý khách hàng</label><br>
  <div style="display:flex; margin-left: 50px">
    <label nzDisabled style="font-size: 14px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlkhachhang">Thêm khách hàng</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlkhachhang">Sửa thông tin khách hàng</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlkhachhang">Xóa khách hàng</label>
  </div><br><br>

  <label style="font-weight: bold; font-style: italic; font-size: 18px;" nz-checkbox
    [(ngModel)]="dataPermission.quyenqlInvoice">Quản lý hóa đơn đầu vào</label><br>
  <div style="display:flex; margin-left: 50px">
    <label nzDisabled style="font-size: 14px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlInvoice">Thêm hóa đơn</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlInvoice">Sửa thông tin hóa đơn</label>
    <label nzDisabled style="font-size: 14px; margin-left: 50px; font-weight: bold;" nz-checkbox
      [(ngModel)]="dataPermission.quyenqlInvoice">Xóa hóa đơn</label>
  </div><br><br>

</div>

<div style="position: relative; height: 50px; margin-top: 50px;">
  <button class="luu" nz-button nzType="primary" type="" (click)="Save()">
    Lưu
  </button>
  <button class="back" nz-button nzType="primary" type="" (click)="back()">
    Trở về
  </button>
</div>