<span *ngIf="flagTT=== 1" style="font-size: 27px;">Quản lý tài khoản</span>
<span *ngIf="flagTT=== 2" style="font-size: 27px;">Thêm mới tài khoản</span>
<span *ngIf="flagTT=== 3" style="font-size: 27px;">Sửa tài khoản</span>
<br><br>
<div style="position: relative;">
  <span *ngIf="flag===false Then hd1 else hd2"></span>
  <ng-template #hd1>
    <button #buttonThem nz-button nzType="primary" (click)="formAcc()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>Tạo mới
    </button>

    <div style="width: 400px; position: absolute; right: 0%; top: 0%;">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input nz-input placeholder="input search text" (keyup)="onKey($event)" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>

    <div class="tableAccount" style="border-top: 2px solid #66CCFF; margin-top: 50px">
      <nz-table #tableList style="margin-top: 10px" #basicTable [nzData]="data" [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize" [nzTotal]="total">
        <!-- (nzPageIndexChange)="pageIndexChange($event)" -->
        <thead>
          <tr>
            <th>Tài khoản</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td>{{data.taikhoan}}</td>
            <td>{{data.hoten}}</td>
            <td>{{data.email}}</td>
            <td>{{data.sdt}}</td>
            <td>
              <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close" nzTheme="outline"
                  title="Xóa tài khoản" (click)="removeAcc(i)"></i></a>
              &emsp;
              <a><i style="font-size: 20px;" nz-icon nzType="edit" nzTheme="outline" title="Sửa tài khoản"
                  (click)="editAcc(i)"></i></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-template>
  <ng-template #hd2>
    <app-form-acc (newItemEvent)="addItem($event)" [item]="itemAcc" (backEvent)="backList($event)"
      [flag]="editFlag"
    >
    </app-form-acc>
  </ng-template>
</div>