<div style="position: relative;">
  <form nz-form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="tenmien">Tên miền</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Chưa nhập tên miền">
        <input nz-input type="text" [ngModel]="item.tenmien" formControlName="tenmien" name="tenmien">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="MST">Mã số thuế</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input type="text" [ngModel]="item.MST" formControlName="MST" name="MST">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="tenchinhanh">Tên tiếng việt</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input type="text" [ngModel]="item.tenchinhanh" formControlName="tenchinhanh" name="tenchinhanh">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="diachi">Địa chỉ</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input type="text" [ngModel]="item.diachi" formControlName="diachi" name="diachi">
      </nz-form-control>
    </nz-form-item>
    <button class="luu" nz-button nzType="primary" type="submit">
      Lưu
    </button>
    <button class="back" nz-button nzType="primary" type="" (click)="back()">
      Trở về
    </button>
  </form>
</div>