<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../assets/icon/icon-idea.png" alt="logo">
        <h1>Trung Hiếu</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Hệ Thống" nzIcon="radius-setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="hethong/chinhanh">Quản lý chi nhánh</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="hethong/quyen">Quản lý quyền</a>
          </li>
          <li nz-menu-item nzMatchRouter>
          <a routerLink="hethong/taikhoan">Quản lý tài khoản</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Danh Mục" nzIcon="menu">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="danhmuc/khachhang">Quản lý khách hàng</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
