<span style="font-size: 27px;">01GTKT - Hóa đơn đầu vào</span>
<br><br>
<form nz-form [formGroup]="submitForm">
    <div style="border-top: 3px solid #66CCFF;">
        <div style="border-bottom: 1px solid #DDDDDD; height: 40px; margin-top: 10px;">
            <span style="font-size: 18px; color:#333333;">
                Thông tin người mua
            </span>
        </div>

        <div style="margin-top: 10px; margin-left: 70px;">

            <nz-form-item nz-row>
                <nz-form-label nz-col nzSpan="4" nzFor="taxCodeBuy" style="font-weight: bold;">Mã số thuế</nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <input nz-input type="text" placeholder="" formControlName="taxCodeBuy">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row>
                <nz-form-label nz-col nzSpan="4" nzFor="companyNameBuy" style="font-weight: bold;">Tên công ty
                </nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <input nz-input type="text" placeholder="" formControlName="companyNameBuy">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row>
                <nz-form-label nz-col nzSpan="4" nzFor="addressBuy" style="font-weight: bold;">Địa chỉ
                </nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <input nz-input type="text" placeholder="" formControlName="addressBuy">
                </nz-form-control>
            </nz-form-item>

        </div>
    </div>

    <div style="display: flex;">
        <div style="border-top: 3px solid #66CCFF; width: 30%;">
            <div style="border-bottom: 1px solid #DDDDDD; height: 40px; margin-top: 10px;">
                <span style="font-size: 18px; color:#333333;">
                    Thông tin hóa đơn
                </span>
            </div>

            <div style="margin-top: 10px; margin-left: 15px;">

                <nz-form-item>
                    <nz-form-label [nzSpan]="0" nzFor="dateInvoice" style="font-weight: bold;">Ngày hóa đơn
                    </nz-form-label>
                    <nz-form-control [nzSpan]="0">
                        <input style="width: auto;" nz-input type="date" placeholder="-Chọn ngày-"
                            formControlName="dateInvoice">
                    </nz-form-control>
                </nz-form-item>

                <div>
                    <nz-form-label [nzSpan]="0" nzFor="" style="font-weight: bold;">Hình thức thanh toán</nz-form-label>
                    <nz-select style="width: 100%;" formControlName="payType" nzShowSearch nzAllowClear
                        nzPlaceHolder="-Chọn hình thức thanh toán-" [(ngModel)]="selectedValue">
                        <nz-option *ngFor="let data of payTypes" nzLabel="{{data}}" nzValue="{{data}}">
                        </nz-option>
                    </nz-select>
                </div><br>

                <nz-form-item>
                    <nz-form-label [nzSpan]="0" nzFor="moneyType" style="font-weight: bold;">Loại tiền tệ
                    </nz-form-label>
                    <nz-form-control [nzSpan]="0">
                        <input nz-input type="text" placeholder="" formControlName="moneyType">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="0" nzFor="noteInvoice" style="font-weight: bold;">Ghi chú
                    </nz-form-label>
                    <nz-form-control [nzSpan]="0">
                        <input nz-input type="text" placeholder="Ghi chú" formControlName="noteInvoice">
                    </nz-form-control>
                </nz-form-item>

            </div>
        </div>

        <div style="border-top: 3px solid #66CCFF; width: 66%; margin-left: 4%;">
            <div style="border-bottom: 1px solid #DDDDDD; height: 40px; margin-top: 10px; position: relative;">
                <span style="font-size: 18px; color:#333333;">
                    Thông tin người bán
                </span>
                <div style="width: 400px; position: absolute; right: 0%; top: 0%;">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input nz-input placeholder="Nhập khách hàng để tìm kiếm" (keyup)="onKey($event)" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="default" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template>
                </div>
            </div>

            <div style="margin-top: 10px; margin-left: 15px;">

                <div style="display:flex">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="0" nzFor="customerId" style="font-weight: bold;">Mã khách hàng
                        </nz-form-label>
                        <nz-form-control [nzSpan]="0">
                            <input nz-input type="text" placeholder="" formControlName="customerIdSell">
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item style="margin-left: 80px;">
                        <nz-form-label [nzSpan]="0" nzFor="taxCode" style="font-weight: bold;">Mã số thuế
                        </nz-form-label>
                        <nz-form-control [nzSpan]="0">
                            <input nz-input type="text" placeholder="" formControlName="taxCodeSell">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <nz-form-item>
                    <nz-form-label [nzSpan]="0" nzFor="companyNameSell" style="font-weight: bold;">Tên đơn vị
                    </nz-form-label>
                    <nz-form-control [nzSpan]="0">
                        <input nz-input type="text" placeholder="" formControlName="companyNameSell">
                    </nz-form-control>
                </nz-form-item>

                <div style="display:flex">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="0" nzFor="nameSell" style="font-weight: bold;">Người bán hàng
                        </nz-form-label>
                        <nz-form-control [nzSpan]="0">
                            <input nz-input type="text" placeholder="" formControlName="nameSell">
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item style="margin-left: 80px;">
                        <nz-form-label [nzSpan]="0" nzFor="emailSell" style="font-weight: bold;">Email</nz-form-label>
                        <nz-form-control [nzSpan]="0">
                            <input nz-input type="text" placeholder="" formControlName="emailSell">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <nz-form-item>
                    <nz-form-label [nzSpan]="0" nzFor="addressSell" style="font-weight: bold;">Địa chỉ
                    </nz-form-label>
                    <nz-form-control [nzSpan]="0">
                        <input nz-input type="text" placeholder="" formControlName="addressSell">
                    </nz-form-control>
                </nz-form-item>

                <div style="display:flex">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="0" nzFor="accountBankSell" style="font-weight: bold;">Số tài khoản
                        </nz-form-label>
                        <nz-form-control [nzSpan]="0">
                            <input nz-input type="text" placeholder="" formControlName="accountBankSell">
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item style="margin-left: 80px;">
                        <nz-form-label [nzSpan]="0" nzFor="nameBankSell" style="font-weight: bold;">Tại ngân hàng
                        </nz-form-label>
                        <nz-form-control [nzSpan]="0">
                            <input nz-input type="text" placeholder="" formControlName="nameBankSell">
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>
    </div>

    <div style="border-top: 3px solid #66CCFF;">
        <div
            style="position: relative;; border-bottom: 1px solid #DDDDDD; height: 40px; margin-top: 10px; display: flex;">
            <div>
                <span style="font-size: 18px; color:#333333;">
                    Chi tiết hóa đơn
                </span>
            </div>
            <div style="position: absolute; right: 20px; display: flex;">
                <label style="font-weight: bold; margin-top: 5px;" nz-checkbox
                    [(ngModel)]="flagInvoiceDetail" formControlName="flagInvoiceDetail">Hóa đơn chiếu khấu</label><br>
                
                <button style="border: #4caf50; background-color: #4caf50;" nz-button nzType="primary" nzShape="circle">
                        <i nz-icon nzType="plus"></i>
                </button>
            </div>
        </div>

        <div *ngIf="flagInvoiceDetail=== false" class="tableInvoiceDetail" style="margin-top: 20px; position: relative;">
            <nz-table #tableList #basicTable [nzData]="data" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
                [nzTotal]="total">
                <!-- (nzPageIndexChange)="pageIndexChange($event)" -->
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên hàng hóa, dịch vụ</th>
                        <th>Nội dung</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thuế suất (%)</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <!-- <td>
                            
                        </td>
                        <td>{{data.acc}}</td>
                        <td>{{data.tt}}</td>
                        <td>{{data.hd}}</td>
                        <td>{{data.bb}}</td>
                        <td>{{data.tongtienhang}}</td>
                        <td>{{data.tongtienthue}}</td>
                        <td>{{data.tongtt}}</td> -->

                        <!-- <td>
                            <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close"
                                    nzTheme="outline" title="Xóa" (click)="removeInvoice(data.id)"></i></a>
                            &emsp;
                            <a><i style="font-size: 20px;" nz-icon nzType="edit" nzTheme="outline" title="Sửa"
                                    (click)="editInvoice(data.id)"></i></a>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>

            <div style="font-size: 16px; font-style: italic; font-weight: bold; position: absolute; right: 10px; display: flex;">
                <div style="width: 500px;">
                    <span>Tổng tiền hàng
                    </span><br>
                    <span>Tổng tiền thuế
                    </span><br>
                    <span>Tổng tiền thanh toán
                    </span>
                </div>
                <div>
                    <span>0
                    </span><br>
                    <span>0
                    </span><br>
                    <span>0
                    </span>
                </div>
            </div>

        </div>

        <div *ngIf="flagInvoiceDetail=== true" class="tableInvoiceDetail" style="margin-top: 20px; position: relative;">
            <nz-table #tableList #basicTable [nzData]="data" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
                [nzTotal]="total">
                <!-- (nzPageIndexChange)="pageIndexChange($event)" -->
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên hàng hóa, dịch vụ</th>
                        <th>Nội dung</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thuế suất (%)</th>
                        <th>% Chiết khấu</th>
                        <th>Tiền chiết khấu</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <!-- <td>
                            
                        </td>
                        <td>{{data.acc}}</td>
                        <td>{{data.tt}}</td>
                        <td>{{data.hd}}</td>
                        <td>{{data.bb}}</td>
                        <td>{{data.tongtienhang}}</td>
                        <td>{{data.tongtienthue}}</td>
                        <td>{{data.tongtt}}</td> -->

                        <!-- <td>
                            <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close"
                                    nzTheme="outline" title="Xóa" (click)="removeInvoice(data.id)"></i></a>
                            &emsp;
                            <a><i style="font-size: 20px;" nz-icon nzType="edit" nzTheme="outline" title="Sửa"
                                    (click)="editInvoice(data.id)"></i></a>
                        </td> -->
                    </tr>
                </tbody>
            </nz-table>

            <!-- <div style="font-size: 16px; font-style: italic; font-weight: bold; position: absolute; right: 10px; display: flex;">
                <div style="width: 500px;">
                    <span>Tổng tiền hàng
                    </span><br>
                    <span>Tổng tiền thuế
                    </span><br>
                    <span>Tổng tiền thanh toán
                    </span>
                </div>
                <div>
                    <span>0
                    </span><br>
                    <span>0
                    </span><br>
                    <span>0
                    </span>
                </div>
            </div> -->

        </div>

    </div>

</form>

<div style="position: relative; margin-top: 140px; height: 50px">
    <button class="luu" nz-button nzType="primary" (click)="onSubmit()">
        Lưu
    </button>
    <button class="back" nz-button nzType="primary" (click)="back()">
        Trở về
    </button>
</div>