.luu{
  position: absolute;
  right: 100px;
  border: #4caf50; background-color: #4caf50;
}
.back{
  position: absolute;
  right: 0px;
}
.tableTienTrinh nz-table tr th{
  background-color: #cde5fd;
}
.inputTax{
  outline: none !important;
  font-weight: bold;
  border: 1px solid #cde5fd;
  border-top: 0px; 
  border-left: 0px;
  border-right: 0px;
  width: 150px;
}